.accordion {
    &__container {
        border: 1px solid $color__hr;
        border-radius: 15px;
        margin-bottom: 1rem;
    }

    &__heading {
        margin-bottom: 0;
    }

    &__trigger {
        background: none;
        border: none;
        color: $color__black;
        font-size: 1.125rem;
        margin: 5px 0 0;
        outline: none;
        padding: 20px 60px 20px 20px;
        position: relative;
        text-align: left;
        text-transform: none;
        transition: 0.4s;
        width: 100%;
        border-radius: 15px;

        &:hover,
        &:active,
        &:focus {
            background-color: transparent !important;
            color: $color__black !important;
        }

        &.expanded {
            border-bottom: 1px solid $color__hr;
            border-radius: 15px 15px 0 0;
        }
    }

    &__title {
        display: block;
        position: relative;
    }

    &__icon {
        display: flex;
        align-items: center;
        color: $color__accent;
        border: 1px solid $color__accent;
        border-radius: 50%;
        height: 34px;
        justify-content: center;
        pointer-events: none;
        position: absolute;
        right: -40px;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        transition: transform 0.3s;
        width: 34px;

        .accordion__trigger.expanded & {
            transform: translateY(-50%) rotate(-180deg);
        }
    }

    &__panel {
        max-height: 0;
        overflow: hidden;
        padding: 0 30px;
        transition: max-height 0.4s ease-out;
    }
}
