button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include primary-button;

    &.btn--secondary {
        @include secondary-button;
    }

    &.btn--light {
        @include light-button;
    }

    &.link-style {
        @include link-style;
    }

    &.icon-btn {
        @include primary-button;

        &::after {
            @include font-awesome;
            content: "\f061";
            margin-left: 10px;
        }
    }

    &.icon-btn.btn--secondary {
        @include secondary-button;
    }

    &.icon-btn.btn--light {
        @include light-button;
    }

    &:focus {
        outline: 5px auto $color__complementary;
    }
}

button.add-value,
button.remove-value {
    background-color: $color__white;
    border: 1px solid $color__hr;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    padding: 5px 9px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    flex-shrink: 0;
}

.button {
    cursor: pointer;
}
