.language {
    display: inline-flex;
    align-items: center;
    background-color: $color__accent;
    border-radius: 20px;
    color: $color__accent-contrast;
    font-family: $font__body;
    font-size: $font__xs-size;
    font-weight: 500;
    line-height: 1;
    padding: 5px 8px;
    vertical-align: top;
    height: 22px;
}
