.resource-tags {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;

    .resource-tag {
        display: flex;
        align-items: center;
        color: $color__black;
        border-radius: 20px;
        font-family: $font__headings;
        font-size: $font__xs-size;
        font-weight: 500;
        gap: 5px;
        padding: 3px 10px;

        .resource-tag-color {
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
    }
}
